.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    max-width: 560px;
    width: 100%;
    padding: 32px 0 0 0;
}

.title {
    padding-top: 8px;
}