.wrap {
    color: #ffff;
}

.title {
    max-width: 454px;
    width: 100%;
    font-size: 72px;
    margin-top: 182px;
}

.sub_text{
    display: block;
    max-width: 340px;
    width: 100%;
    margin-top: 40px;
    font-size: 24px;
    line-height: 130%;
}

@media (max-width: 480px) { 
    .title {
        font-size: 48px;
    }
    
    .sub_text{
        font-size: 18px;
        max-width: 225px;
    }
}